pyvista[jupyter,trame]>=0.40.0
pydata-sphinx-theme
pypandoc
pytest-sphinx
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-gallery
sphinx-toolbox
sphinxcontrib-asciinema
sphinxcontrib-websupport
typed-ast
